<section class="section_main">
  <h2 class="header"> <%= @header %> </h2>
  <div class="post_block">
    <p class="paragraph"> <%= @heading %> </p>
    <p> <%= @text %> </p>
    <p> <%= @text %> </p>
  </div>
</section>
