<section class="section_main">
  <h2 class="card-title"> <%= @header %> </h2>
  <div class="card-body shadow p-3 mb-5">
    <p class="card-text"> <%= @heading %> </p>
    <p> <%= @text %> </p>
    <p> <%= @text %> </p>
  </div>
</section>
